
body{
	width: 100%;
	margin:0px;
	align-items: center;
	text-align: center;
}
.main{
	align-items: center;
	text-align: center;
	position: absolute;
}
.Menu{
	border: 1px solid black;
	width: 99.8%;
	background: #FFFFFF;
}
.Menu menu>span{
	padding-right:2.5%;
	font-size:16px;
}
.Menu menu>button{
	width: 14%;
	max-width: 120px;
	height:30px;
	color: red;
}
.Logo{
	width: 20%;
	max-width: 130px;
	height: 50px;
	padding-left: 1%;
	vertical-align: middle;
}
.Picture1{
	width: 100%;
	height: auto;
	max-width:1980px;
	display: block;
}
.MainText{
	font-weight: bold;
	height: 10%;
	width:60%;
	position: absolute;
	left: 3.5%;
	top: 14%;
	border: 1px solid red;
	background: black;
	opacity:  0.7;
	border-radius: 15px 0 15px 0;
	text-align: center;
}
.MainText h1{
	color:white;
	font-size:3vw;
}
.MainText p
{
	width: 100%;
	max-width: 1050px;
	height: 47%;
	padding-top: 1%;
	font-size:1.88vw;
	color:white;
}
.Black{
	background:black;
	height: 22%;
}
.Yellow{
	background: #F7C800;
	height: 22%;
}
.Red{
	background: #DD0000;
	height: 22%;
}
.Germany{
	position: absolute;
	top:35%;
	left:1.3px;
	opacity: 0.7;
	width: 100%;
	height: 22%;
	max-width: 1980px;
}
.Button1{
	width: 18%;
	height: 23%;
	position: absolute;
	border: 1px solid black;
	top:30%;
	left:4%;
	border-radius: 15px;
	background:black;
	opacity:  0.85	;
}
.Button2{
	width: 18%;
	height: 23%;
	position: absolute;
	border: 1px solid black;
	top:30%;
	left: 29%;
	border-radius: 15px;
	background:black;
	opacity:  0.85	;
}
.Button3{
	width: 18%;
	height: 23%;
	position: absolute;
	border: 1px solid black;
	top:30%;
	left:55%;
	border-radius: 15px;
	background:black;
	opacity:  0.85	;
}
.Button4{
	width: 18%;
	height: 23%;
	position: absolute;
	top:30%;
	left:80%;
	border-radius: 15px;
	background:black;
	opacity:  0.85	;
}
.Button4 p,
.Button3 p,
.Button2 p,
.Button1 p{
	color: white;
	width:100%;
	max-width:550px;
	font-size:1.7vw;
	height:100px;
	padding-left: 2px;

}
.Button4 button,
.Button3 button,
.Button2 button,
.Button1 button{
	width:60%;
	height:15%;
	color:red;
	font-weight: bold;
	top:25vw;
	margin-left: -28%;
	position: absolute;
}

.Picture2{
	width: 100%;
	height: auto;
	max-width:1980px;
	vertical-align: middle; 
	display: block;
}
.Circle{
	width: 20%;
	height: 15%;
	background-color: #4A5364;
	-moz-border-radius: 11%;
	-webkit-border-radius: 11%;
	border-radius: 50%;
	line-height: 7.2%;
	top: 55%;
	left: 77%;
	position: absolute;
}
.Circle p{
	padding-top: 16.5%;
	font-size: 7vw;
}
.Text-div{
	margin:0px;	
	padding-top: 2%;
	width: 100%;
	max-width: 1980px;
	color:white;
	background: black;
	height: 7%;
	font-size: 2vw;
}
